/*----- COMPONENTS : CONTAINERS ----- */

.main-container {
  width: 90vw;
  margin: 24px auto;
}

@media (min-width: $xsmScreen) {
} // end of xsmScreen - 576px

@media (min-width: $smScreen) {
  .main-container {
    width: 92vw;
    margin: 32px auto;
  }
} // end of smScreen - 768px

@media (min-width: $mdScreen) {
  .main-container {
    width: 94vw;
  }
} // end of mdScreen - 992px

@media (min-width: $lgScreen) {
} // end of lgScreen - 1200px

@media (min-width: $xlgScreen) {
} // end of xlgScreen - 1440px
