/*----- COMPONENTS : FOOTER ----- */

footer {
  text-align: center;
  margin: 24px 0 16px;

  .legal-stuff {
    color: $oldPink;
    margin-bottom: 8px;
  }

  .legal-links {
    font-size: 1.2rem;
  }

  .brand-stuff {
    p,
    a {
      font-size: 1.2rem;
      margin: 0;
    }
  }
}

@media (min-width: $xsmScreen) {
} // end of xsmScreen - 576px

@media (min-width: $smScreen) {
} // end of smScreen - 768px

@media (min-width: $mdScreen) {
  footer {
    text-align: center;
    margin: 24px 0 16px;

    .legal-links {
      font-size: 1.4rem;
    }

    .brand-stuff {
      p,
      a {
        font-size: 1.4rem;
      }
    }
  }
} // end of mdScreen - 992px

@media (min-width: $lgScreen) {
} // end of lgScreen - 1200px

@media (min-width: $xlgScreen) {
} // end of xlgScreen - 1440px
