/*----- COMPONENTS  : GRID ----- */

// regular grid
.grid {
  display: grid;
  grid-gap: 16px;
  &.columns-2 {
    grid-template-columns: 1fr 1fr;
  }
  &.columns-3 {
    grid-template-columns: 1fr 1fr 1fr;
  }
  &.columns-4 {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}

.grid-element {
  &.one {
    grid-column: span 1;
  }
  &.two {
    grid-column: span 2;
  }
  &.three {
    grid-column: span 3;
  }
  &.four {
    grid-column: span 4;
  }

  &.align-end {
    align-self: end;
  }

  &.align-start {
    align-self: start;
  }

  &.align-center {
    align-self: center;
  }

  &.align-stretch {
    align-self: stretch;
    background: red;
  }

  &.justify-end {
    justify-self: end;
  }

  &.justify-start {
    justify-self: start;
  }

  &.justify-center {
    justify-self: center;
  }

  &.justify-stretch {
    justify-self: stretch;
  }
}

.column {
  &.full-width {
    grid-column: span 12;
  }
}

@media (min-width: $xsmScreen) {
} // end of xsmScreen - 576px

@media (min-width: $smScreen) {
  .grid {
    grid-gap: 16px;
  }
} // end of smScreen - 768px

@media (min-width: $mdScreen) {
  .grid {
    grid-template-columns: repeat(8, 1fr);
    grid-gap: 16px;
  }

  .column {
    &.md-4 {
      grid-column: span 4;
    }
  }
} // end of mdScreen - 992px

@media (min-width: $lgScreen) {
  .grid {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 24px;
  }

  .column {
    &.lg-6 {
      grid-column: span 6;
    }
  }
} // end of lgScreen - 1200px

@media (min-width: $xlgScreen) {
} // end of xlgScreen - 1440px
