/*----- INDEX FOR COMPONENTS ----- */

header {
  position: relative;
}

.logo-image {
  width: 280px;
  margin: 24px auto;
}

.header-tagline {
  position: absolute;
  bottom: 13px;
  right: 102px;
  margin: 0;
  font-family: $accentFont;
  color: $darkGray;
}

@media (min-width: $xsmScreen) {
} // end of xsmScreen - 576px

@media (min-width: $smScreen) {
} // end of smScreen - 768px

@media (min-width: $mdScreen) {
} // end of mdScreen - 992px

@media (min-width: $lgScreen) {
} // end of lgScreen - 1200px

@media (min-width: $xlgScreen) {
} // end of xlgScreen - 1440px
