/*----- COMPONENTS : INFO-BOX ----- */

.info-box--title {
  position: fixed;
  top: 146px;
  left: -1px;
  width: 126px;
  background: white;
  border: 1px solid $forestGreen;
  font-family: $accentFont;
  font-size: 1.2rem;
  color: $forestGreen;
  text-transform: uppercase;
  padding: 4px;
  transform: rotate(-90deg);
  transform-origin: top left;
  &:hover {
    cursor: pointer;
  }
}

.single-post--info-box {
  display: none;
  opacity: 0;
  transition: 0.3s;
  &.is-active {
    display: block;
    opacity: 1;
    position: fixed;
    top: 20px;
    left: -1px;
    padding-top: 20px;
    width: calc(92vw + 1px);
    background: white;
    border: 1px solid $forestGreen;
    overflow-y: scroll;
    // minus top position minus footernav height minus 20 to breathe
    max-height: calc(100vh - 20px - 65px - 20px);
  }
}

.info-box--section {
  margin-top: 4vw;
  margin-bottom: 4vw;
  padding-left: calc(8vw + 1px);
  padding-right: 4vw;
  a {
    font-family: $accentFont;
    background: $forestGreen;
    color: white;
  }
}

.info-box--close-section {
  position: fixed;
  top: 20px;
  left: -1px;
  width: calc(92vw + 1px);
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-top: 4px;
  padding-right: 12px;
  padding-bottom: 4px;
  border-bottom: 1px solid $forestGreen;
  &:hover {
    cursor: pointer;
  }
}

.info-box--section-title {
  font-family: $accentFont;
  font-size: 1.6rem;
  color: $forestGreen;
  text-transform: uppercase;
  font-weight: 400;
  margin-bottom: 12px;
  span {
    border-bottom: 1px solid $forestGreen;
  }
}

.info-box--content {
  font-size: 1.2rem;
  font-family: $accentFont;
}

@media (min-width: $xsScreen) {
} // end of smScreen - 410px

@media (min-width: $smScreen) {
} // end of smScreen - 768px

@media (min-width: $mdScreen) {
  .info-box--title {
    position: fixed;
    top: calc(20vh + 142px);
    left: -1px;
    width: 146px;
    background: white;
    border: 1px solid $forestGreen;
    font-family: $accentFont;
    font-size: 1.4rem;
  }

  .single-post--info-box {
    &.is-active {
      top: 20vh;
      padding-top: 20px;
      width: 600px;
      background: white;
      border: 1px solid $forestGreen;
      overflow-y: scroll;
      // minus top position minus footernav height minus 20 to breathe
      max-height: calc(100vh - 20vh - 65px - 20px);
    }
  }
  .info-box--close-section {
    position: fixed;
    top: 20vh;
    left: -1px;
    width: 600px;
    padding-right: 22px;
  }

  .info-box--content {
    font-size: 1.3rem;
  }
} // end of mdScreen - 1024px

@media (min-width: $lgScreen) {
} // end of lgScreen - 1280px

@media (min-width: $xlgScreen) {
} // end of xlgScreen - 1440px
