/*----- COMPONENTS : NAVBAR ----- */


.main-navigation {
  position: fixed;
  bottom: -2px;
  width: 100%;
  z-index: 100000000;
  // height: 100px;
  margin: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-left: 0;
  list-style-type: none;
}

.nav-item {
  text-align: center;
  // transform: rotate(-68deg);
  font-family: $accent-font;
  background: $old-pink;
  padding-top: 4px;
  padding-bottom: 6px;
  width: 92px;
  color: $white;
  text-transform: uppercase;

  a {
    color: $white;
    text-transform: uppercase;
  }
}

.blog-menu {
  width:  100vw;
  height: 100vh;
  justify-content: flex-end;
  padding-left: 12%;
  padding-bottom: 6vh;
}

.sub-navigation {
  list-style-type: none;
  padding-left: 0;
  z-index: 100000;
}

.sub-nav-item a {
  font-family: $headers-font;
  font-size: 3.8rem;
  animation-name: showSubNavItems;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-delay: 0.6;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes showSubNavItems {
  0% {
    opacity: 0;
  }

  100% {
    color: $white;
    opacity: 1;
  }
}

// open menu

.menu-open {
  animation-name: showingMenu;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}


@keyframes showingMenu {
  0% {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }

  100% {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
}


#blob-menu {
  animation-name: showingBlobMenu;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-delay: 0.2;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  bottom: -84px;
  left: -126px;
  width: 180% !important;
}



@keyframes showingBlobMenu {
  0% {
    width: 0;
  }

  100% {
    width: 180% !important;
  }
}

#blob-social {
  transform: rotate(-60deg);
  bottom: -84px;
  width: 634px !important;
  right: -199px;
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px


