/*----- COMPONENTS : NAVBAR ----- */

.nav-item {
  border: 1px solid white;
  background: $oldPink;
  margin: 8px 0;
  font-family: $accentFont;
  padding: 1px 4px 2px;
  color: $white;
  text-transform: uppercase;

  a {
    color: $white;
    text-transform: uppercase;
  }

  &.active {
    color: $darkGray;
  }
}

.blog-menu {
  width: 100vw;
  height: 100vh;
  justify-content: flex-end;
  padding-left: 12%;
  padding-bottom: 20vh;
}

.sub-navigation {
  list-style-type: none;
  padding-left: 0;
  z-index: 100000;
}

.sub-nav-item a {
  font-family: $headersFont;
  font-size: 3.8rem;
  animation-name: showSubNavItems;
  animation-duration: 0.6s;
  animation-timing-function: linear;
  animation-delay: 0.6;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes showSubNavItems {
  0% {
    opacity: 0;
  }

  100% {
    color: $white;
    opacity: 1;
  }
}

// open menu

.menu-open {
  // animation-name: showingMenu;
  // animation-duration: 0.6s;
  // animation-timing-function: linear;
  // animation-delay: 0;
  // animation-iteration-count: 1;
  // animation-direction: normal;
  // animation-fill-mode: forwards;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
}

@keyframes showingMenu {
  0% {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }

  100% {
    opacity: 1;
    background: rgba(255, 255, 255, 1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
  }
}

#blob-menu {
  animation-name: showingBlobMenu;
  animation-duration: 0.3s;
  animation-timing-function: linear;
  animation-delay: 0.2;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
  bottom: -84px;
  left: -126px;
  width: 180% !important;
}

@keyframes showingBlobMenu {
  0% {
    width: 0;
  }

  100% {
    width: 180% !important;
  }
}

#blob-social {
  transform: rotate(-60deg);
  bottom: -84px;
  width: 634px !important;
  right: -199px;
}

@media (min-width: $xsmScreen) {
} // end of xsmScreen - 576px

@media (min-width: $smScreen) {
} // end of smScreen - 768px

@media (min-width: $mdScreen) {
  .main-navigation {
    top: 6vh;
    right: 0 !important;
  }

  .nav-item {
    width: 88px;
    margin: 4px 0;
    text-align: center;
    // transform: rotate(-68deg);
    font-family: $accentFont;
    background: $oldPink;
    padding-top: 2px;
    padding-bottom: 4px;
    color: $white;
    text-transform: uppercase;

    a {
      color: $white;
      text-transform: uppercase;
    }
  }
} // end of mdScreen - 992px

@media (min-width: $lgScreen) {
} // end of lgScreen - 1200px

@media (min-width: $xlgScreen) {
} // end of xlgScreen - 1440px
