/*----- LAYOUTS : SINGLE POST ----- */

.single-post--section {
  margin-bottom: 32px;
}

.single-post--text {
  margin-bottom: 0.6rem;
}

@media (min-width: $xsmScreen) {
} // end of xsmScreen - 576px

@media (min-width: $smScreen) {
} // end of smScreen - 768px

@media (min-width: $mdScreen) {
  .single-post--container {
    max-width: 564px;
  }

  .single-post--section {
    margin-bottom: 36px;
  }
} // end of mdScreen - 992px

@media (min-width: $lgScreen) {
  .single-post--section {
    margin-bottom: 42px;
  }
} // end of lgScreen - 1200px

@media (min-width: $xlgScreen) {
} // end of xlgScreen - 1440px
