/*----- LAYOUTS : SINGLE POST ----- */

.single-post--section {
  margin-bottom: 32px;
}

.single-post--text {
  margin-bottom: 0.6rem;
}

.single-post--image {
  margin: 16px 0;
}

@media (min-width: $smScreen) {
  .single-post--text {
    max-width: 522px;
    margin-left: 0;
  }
  .single-post--section,
  .single-post--image {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 36px;
  }

  .single-post--image.fullwidth {
    width: 100%;
    margin: 0;
  }
} // end of smScreen - 768px

@media (min-width: $mdScreen) {
} // end of mdScreen - 992px

@media (min-width: $lgScreen) {
  .single-post--section {
    margin-bottom: 42px;
  }
} // end of lgScreen - 1200px

@media (min-width: $xlgScreen) {
} // end of xlgScreen - 1440px
