/*----- COMPONENTS : SINGLE POST ----- */

.single-post--section,
.single-post--image {
  margin: 24px 0;
}

.single-post--section.grid-element,
.single-post--image.grid-element {
  margin: 0;
}

.single-post--text {
  margin-bottom: 0.6rem;
}

.single-post--section-title {
  font-size: 2.4rem;
  text-transform: uppercase;
}

.single-post--infos-box-title {
  font-size: 1.8rem;
  font-family: $accentFont;
}

.single-post--featured {
  font-size: 2.4rem;
  font-weight: 700;
  color: $darkGray;
}

.single-post--subtitle {
  font-family: $accentFont;
  text-transform: uppercase;
}
.single-post--text-subtitle {
  font-family: $accentFont;
}

@media (min-width: $smScreen) {
  .single-post--text {
    margin-left: 0;
    max-width: 506px;
    &.max-width {
      max-width: 506px;
    }
  }
  .single-post--section,
  .single-post--image {
    margin-bottom: 36px;
  }

  .single-post--image.max-width {
    max-width: 536px;
  }

  .single-post--section-title {
    max-width: 506px;
    font-size: 3.2rem;
  }

  .single-post--image.fullwidth {
    width: 100%;
    max-width: 100%;
    margin: 24px 0;
  }
} // end of smScreen - 768px

@media (min-width: $mdScreen) {
} // end of mdScreen - 992px

@media (min-width: $lgScreen) {
  .single-post--section {
    margin-bottom: 32px;
  }
} // end of lgScreen - 1200px

@media (min-width: $xlgScreen) {
} // end of xlgScreen - 1440px
