// /*----- COMPONENTS : TEXT ----- */

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0.3em auto 0.1em;
  font-family: $bodyFont;
  color: $darkGray;
  font-weight: 700;
  line-height: 1.05;
}

h1 {
  font-size: 4.2rem;
}

h2 {
  font-size: 3.8rem;
}

h3 {
  font-size: 3.4rem;
}

h4 {
  font-size: 2.8rem;
}

h5 {
  font-size: 2.4rem;
}

h6 {
  font-size: 2rem;
}

p,
li {
  margin: 0.3em auto 0.8em;
  font-family: $bodyFont;
  color: $gray;
  font-weight: 300;
  font-size: 1.4rem;
}

em,
a,
.accent-text {
  font-family: $accentFont;
  font-size: 1.4rem;
}

a {
  text-decoration: none;
  color: $oldPink;
}

// font weights

.text-strong {
  font-weight: 700;
}

.text-normal {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
}

// // transforms

.text-uppercase {
  text-transform: uppercase;
}

@media (min-width: $mdScreen) {
  h1 {
    font-size: 5.2rem;
  }

  h2 {
    font-size: 4.4rem;
  }

  h3 {
    font-size: 3.8rem;
  }

  h4 {
    font-size: 3.2rem;
  }

  h5 {
    font-size: 2.8rem;
  }

  h6 {
    font-size: 2.4rem;
  }

  p,
  li,
  em,
  a {
    font-size: 1.6rem;
  }
}

@media (min-width: $lgScreen) {
  h1 {
    font-size: 5.8rem;
  }

  h2 {
    font-size: 5rem;
  }

  h3 {
    font-size: 4.4rem;
  }

  h4 {
    font-size: 3.8rem;
  }

  h5 {
    font-size: 3.2rem;
  }

  h6 {
    font-size: 2.8rem;
  }

  p,
  li,
  em,
  a {
    font-size: 1.8rem;
  }

  p.accent-text,
  .accent-text {
    font-size: 1.6rem;
  }
}
