/*----- COMPONENTS : TEXT ----- */

body {
  font-family: $body-font;
  color: $gray;
}

h1, h2, h3, h4, h5, h6 {
  font-family: $headers-font;
  color: $primary-color;
  font-weight:700;
  text-transform: uppercase;
}

p {
  font-family: $body-font;
  color: $gray;
}

.accent-text, em, a {
  font-family: $accent-font;
  font-weight: 400;
}


// font weights

.text-strong {
  font-weight: 700;
}

.text-normal {
  font-weight: 400;
}

.text-light {
  font-weight: 300;
}

// transforms

.text-uppercase {
  text-transform: uppercase;
}

@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media only screend and (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px


