/*----- LAYOUTS: HOMEPAGE ----- */

.homepage-section {
  margin: 24px auto;
}

// post section

.read-more {
  text-align: center;
}

// about section

.about-container {
  padding: 24px 0;
  width: 90vw;
  margin: 48px auto;

  h3 {
    padding-left: 12px;
    margin-bottom: 24px;
  }

  .about-content {
    font-family: $accent-font;
  }
}

// petites parentheses

.petites-parentheses-container {
  .description {
    color: $medium-gray;
  }
}

.newsletter-container {
  // padding: 16px;
  // width: 92vw;
  // background: $old-pink;
  // margin-bottom: 54px;
  // margin-top: 56px;

  // .section-title {
  //   margin-top: -40px;
  // }

}

@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
  // post section

  .read-more {
    width: 68%;
    margin: auto;
    transition: 0.4s;
    a {
      display: block;
      width: 100%;
      background: $old-pink;
      padding-top:18px;
      padding-bottom:18px;
      color: white;
      font-size: 8.8rem;
      transition: 0.4s;
    }

    &:hover {
      width: 100%;
      a {
        font-size: 9.2rem;
      }
    }
  }

  .about-container {
    margin: 124px auto;
    width: 62%;
  }

} // end of md-screen - 992px

@media (min-width: $lg-screen) {

  .about-container {
    margin: 124px auto;
    width: 52%;
  }

  // petites parentheses
  .petites-parentheses-container {
    .description {
      color: $medium-gray;
    }
  }

  .newsletter-container {
    padding: 24px;
    width: 55%;
    margin-left: 10%;
    margin-top: 64px;

    .section-title {
      margin-top: -50px;
    }

    .form-stroked {
      padding: 24px;
    }
  }
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px


