/*----- VARIABLES : COLORS ----- */

$white: #fff;
$black: #000;

$light-taupe: #eae1e1;
$dark-taupe: #c6bdbd;
$old-pink: #dba9a9;
$dark-blue: #2b3038;

$primary-color: $dark-blue;
$secondary-color: $old-pink;
$accent-color: $dark-taupe;
$accent-light: $light-taupe;

$light-gray: #bcc3c9;
$medium-gray: #686f75;
// $dark-gray: #575759;


$light-mint: #e8f9f1;
$silver-gray: #99a7ad;
