/*----- VARIABLES : COLORS ----- */

$white: #fff;
$black: #000;

$lightPink: #f1e9e9;
$oldPink: #b08c8c;
$forestGreen: #87a496;

$lightGray: #dfe0e3;
$mediumGray: #85888f;
$gray: #575a60;
$darkGray: #363a42;

$primaryColor: $oldPink;
$secondaryColor: $forestGreen;
$accentColor: $oldPink;
$accentLight: $lightPink;
