/*----- VARIABLES : COLORS ----- */

$white: #fff;
$black: #000;

$light-pink: #f1e9e9;
$old-pink:  #D1BCBC;
$dark-green: #87a496;

$light-gray: #DFE0E3;
$medium-gray: #85888F;
$gray: #575A60;
$dark-gray: #363A42;


$primary-color: $old-pink;
$secondary-color: $dark-green;
$accent-color: $old-pink;
$accent-light: $light-pink;

