/*----- VARIABLES : FONTS ----- */

@import url("https://use.typekit.net/foi8snr.css");

$body-font: 'rubik', sans-serif; // weight: 300 or 400
$headers-font: 'europa', sans-serif; // weight: 700
$accent-font: 'gemeli-mono', serif; //weight: 400

