/*----- VARIABLES : FONTS ----- */

@import url("https://use.typekit.net/foi8snr.css");

$body-font: 'europa', sans-serif;
$headers-font: 'europa', sans-serif; // weight: 300, 400 700
$accent-font: 'gemeli-mono', serif; //weight:300 & 400

