/*----- VARIABLES : FONTS ----- */

@import url("https://use.typekit.net/foi8snr.css");

$bodyFont: "europa", sans-serif;
$headersFont: "europa", sans-serif; // weight: 300, 400 700
$accentFont: "gemeli-mono", serif; //weight:300 & 400
