/*----- LAYOUTS : MAIN ----- */

:root {
  font-size: 62.5%;
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

*:before {
  box-sizing: border-box;
}

*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  word-wrap: break-word;
  font-kerning: normal;
  -moz-font-feature-settings: "kern", "liga", "clig", "calt";
  -ms-font-feature-settings: "kern", "liga", "clig", "calt";
  -webkit-font-feature-settings: "kern", "liga", "clig", "calt";
  font-feature-settings: "kern", "liga", "clig", "calt";
  font-family: $bodyFont;
  color: $gray;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}

img {
  max-width: 100%;
  margin: 0;
  padding: 0;
  object-fit: cover;
}
