/*----- LAYOUTS : MAIN ----- */


:root {
  font-size: 62.5%;
  body {
    margin: 0;
    font-size: 1.6rem;
  }
}

html {
  box-sizing: border-box;
  overflow-y: scroll;
}
* {
  box-sizing: inherit;
}
*:before {
  box-sizing: inherit;
}
*:after {
  box-sizing: inherit;
}


a {
  text-decoration: none;
  color: $primary-color;
}

.hidden {
  border: 3px solid blue;
}


@media (min-width: $xsm-screen) {
} // end of xsm-screen - 576px

@media (min-width: $sm-screen) {
} // end of sm-screen - 768px

@media (min-width: $md-screen) {
} // end of md-screen - 992px

@media only screend and (min-width: $lg-screen) {
} // end of lg-screen - 1200px

@media (min-width: $hg-screen) {
} // end of hg-screen - 1440px


